.container__small-card{
  width: 500px;

  margin-top: 15px;

}
.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img{

  width: 100%;
  min-width: 200px;
  margin-right: 20px;
}
.container__small-card__separator{
  margin-top: 10px;
}
