<div class="container__big-card">
  <div class="big-card__photo">
    <!---mockado--->
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.6A5UJBNpUTJR9HKI2dT9mAHaEK%26pid%3DApi&f=1&ipt=7f0cb69997599fd7669d2179ac2d1e32a34e41cdeef138d1a632a128afb7f775&ipo=images"

    alt=""

    height="250px"

    srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular.</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Arcu vitae elementum curabitur vitae nunc. Tortor at risus viverra adipiscing at. Libero enim sed faucibus turpis in eu mi. Tempor orci dapibus ultrices in iaculis. Turpis egestas maecenas pharetra convallis posuere. Duis convallis convallis tellus id. Bibendum est ultricies integer quis auctor elit sed.
      </a>
    </p>
  </div>
</div>
